* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background-color: #e8eefc;
  overflow: hidden;
}
.rt-logo {
  position: absolute;
  top: -4rem;
  right: -4rem;
}
.rt-logo .c {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  background-color: #1a2953;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 50px 10px #1a2953;
}
.rt-logo .t {
  height: 22rem;
  width: 22rem;
  background-image: url(assets/rt.gif);
  background-size: cover;
  position: absolute;
  top: -3rem;
  left: -3rem;
  animation: rt-logo-t linear 35s infinite, rt-logo-t-op linear 3s infinite;
}
.rt-logo .logo {
  height: 6rem;
  width: 6rem;
  background-image: url(assets/logo.gif);
  background-size: cover;
  position: absolute;
  top: 6.5rem;
  left: 3.5rem;
  z-index: 3;
}
@keyframes rt-logo-t {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rt-logo-t-op {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}
